.page{
    background-color: lightskyblue;
    margin: 0 auto;
    width: 85%;
    font-family: 'Times New Roman', serif;
}

.title,
.subtitle {
    font-weight: bold;
    text-align: center;
    font-family: 'Times New Roman', serif;
}

.imgbox {
    text-align: center;
}

.img {
    height: auto;
    width: 400px;
}

button {
    font-size: 20px;
    background-color: lightcoral;
    padding: 10px;
}

.link {
    text-align: center;
}

